<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Assignment 3: Mailbox.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>48A395151D03296500BC9FC4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>48A395291D03296500BC9FC4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>48A395341D03296500BC9FC4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
